@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Germania+One&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:bisque;
}

nav{
    font-family: 'Alkatra', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  font-family: 'Alkatra', sans-serif;
  cursor: pointer;
  border-radius: 20px;
}

nav ul li button:hover{
    background-color: red;
  color: white;
}

.logo img{
    width: 44px;
    padding: 0 5px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3em;
}

.container{
    min-height: 50vh;
    background-color: black;
    color: white;
    font-family: 'Germania One', cursive;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 35px;
    /* background-image: url('assets/image/vijay_background.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.songItemContainer{
    margin-top: 30px;
}

.songItem{
    height:50px;
    display: flex;
    background-color: white;
    width: 400px;
    color: black;
    margin: 12px 0; 
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Alkatra', sans-serif;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}

#progressBar{
    width: 80vw;
    cursor: pointer;
}

.songInfo{
    position:absolute;
    left:10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  form button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  form button:hover {
    opacity:1;
  }

  .cancelbtn, .loginbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  .cancelbtn{
    background-color: #f44336;
  }

  .search{
    display: flex;
  }